{% extends 'basic.html' %}
{% load static %}
{% block history %}

<div class="landing-page">

<div class="wrapper">
<div class="header header-filter" style="background-image: url('{% static "/img/bg_index.jpg" %}');">
            <!-- <div class="container"> -->
                <!-- <div class="row"> -->
					<!-- <div class="col-md-6"> -->
						<!-- <h1 class="title">Find best prices!</h1> -->
	                    <!-- <h4></h4> -->
	                    <!-- <br /> -->
	                    <!-- <a href="https://www.youtube.com/watch?v=069y1MpOkQY" class="btn btn-danger btn-raised btn-lg"> -->
							<!-- <i class="fa fa-play"></i> Watch video -->
						<!-- </a> -->
					<!-- </div> -->
                <!-- </div> -->
            <!-- </div> -->
        </div>
<div class="main main-raised">
<div class="container">

      <ul class="pagination pagination-primary text-center">
        {% if prices.has_previous %}
          <li><a href="?page=1">First</a></li>
          <li><a href="?page={{ prices.previous_page_number }}"> {{ prices.previous_page_number }} </a></li>
        {% endif %}

        <li class="active"><a href="?page={{ prices.number }}">{{ prices.number }}</a></li>

        {% if prices.has_next %}
          <li><a href="?page={{ prices.next_page_number }}"> {{ prices.next_page_number }} </a></li>
          <li><a href="?page={{ prices.paginator.num_pages }}">Last</a></li>
        {% endif %}
      </ul>

    <table class="table table-striped table-sm text-center">
      <thead>
        <tr>
          <th class="text-center">Дата вылета</th>
          <th class="text-center">Аэропорт вылета</th>
          <th class="text-center">Аэропорт прилета</th>
          <th class="text-center">Цена в USD</th>
          <th class="text-center">Цена в базовой валюте</th>
          <th class="text-center">Дата обновления</th>
          <th class="text-center">Тип цены</th>
        </tr>
      </thead>
      {% for price in prices  %}
      <tr>
        <td>
          {{ price.date|date:"d/m/Y" }}
        </td>
        <td>
          {{price.departureStation}}
        </td>
        <td>
          {{price.arrivalStation}}
        </td>
        <td>
          {{ price.price_USD|floatformat:2 }} (USD)
        </td>
        <td>
          {{ price.price }} ({{ price.currency }})
        </td>
        <td>
          {{ price.update_date|date:"d/m/Y H:i" }}
        </td>
        <td>
          {{ price.price_type }}
        </td>
      </tr>
      {% endfor%}
    </table>

</div>
    </div>
    </div>
</div>

{% endblock %}
